<!-- templates/index.html -->
{% extends "layout.html" %}

{% block head %}
<title>Flask</title>
{% endblock %}

{% block body %}
<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="#" class="text-white text-lg font-semibold">My Website</a>
        <div class="space-x-4">
            <a href="#" class="text-gray-400 hover:text-white">Home</a>
            <a href="#" class="text-gray-400 hover:text-white">About</a>
            <a href="#" class="text-gray-400 hover:text-white">Contact</a>
        </div>
    </div>
</nav>
<div class="relative overflow-x-auto mt-5">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    User
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ user[1] }}  <!-- Kolom 'name' -->
                </th>
                <td class="px-6 py-4">
                    {{ user[2] }}  <!-- Kolom 'email' -->
                </td>
                <td class="px-6 py-4 text-center">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <footer class="bg-gray-800 p-4 mt-5 fixed bottom-0 w-full"></footer>
        <div class="container mx-auto text-center text-white">
            <p>&copy; 2023 My Website. All rights reserved.</p>
        </div>
    </footer>
</div>

{% endblock %}